In [1]:
# Data from here:
# https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide
import pandas as pd
import glob
import os

In [12]:
# READ, RENAME
covid = pd.read_excel("COVID-19-geographic-disbtribution-worldwide-2020-08-27.xlsx") 
# REPLACED WITH THE CODE BELOW THAT EXTRACTS THE LATEST .xlsx FILE IN THE FOLDER

# list_of_files = glob.glob('C:\\Users\\nikan\\Desktop\\COVID_daily/*xlsx') # * means all if need specific format then *.csv
# latest_file = max(list_of_files, key=os.path.getctime)
# print(latest_file)
# covid = pd.read_excel(latest_file)

In [13]:
covid.rename(columns = {'countriesAndTerritories': 'Country'}, inplace = True)
covid.rename(columns = {'dateRep': 'DateRep', 'day':'Day', 'month':'Month','year':'Year','cases':'Cases','deaths':'Deaths', 'popData2019':'Population', 'continentExp':'Continent'}, inplace = True)
covid.replace('CANADA','Canada', inplace=True)
covid.replace(['United_States_of_America', 'United_Kingdom', 'South_Korea', 'Saudi_Arabia', 'South_Africa', 'United_Arab_Emirates', 'Dominican_Republic'],['USA', 'UK', 'S.Korea', 'S.Arabia', 'S.Africa', 'UAE', 'Dom.Rep.'], inplace = True)
covid.drop(columns = ['geoId', 'countryterritoryCode', 'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'], inplace = True)

# covid[covid['Country'] == 'Canada'].sort_values('DateRep').head(20)

In [15]:
covid[covid['Country'] == 'Canada'].sort_values('DateRep').head(20)

        DateRep  Day  Month  Year  Cases  Deaths Country  Population Continent
6741 2019-12-31   31     12  2019      0       0  Canada  37411038.0   America
6740 2020-01-01    1      1  2020      0       0  Canada  37411038.0   America
6739 2020-01-02    2      1  2020      0       0  Canada  37411038.0   America
6738 2020-01-03    3      1  2020      0       0  Canada  37411038.0   America
6737 2020-01-04    4      1  2020      0       0  Canada  37411038.0   America
6736 2020-01-05    5      1  2020      0       0  Canada  37411038.0   America
6735 2020-01-06    6      1  2020      0       0  Canada  37411038.0   America
6734 2020-01-07    7      1  2020      0       0  Canada  37411038.0   America
6733 2020-01-08    8      1  2020      0       0  Canada  37411038.0   America
6732 2020-01-09    9      1  2020      0       0  Canada  37411038.0   America
6731 2020-01-10   10      1  2020      0       0  Canada  37411038.0   America
6730 2020-01-11   11      1  2020      0       0  Canada  37411038.0   America
6729 2020-01-12   12      1  2020      0       0  Canada  37411038.0   America
6728 2020-01-13   13      1  2020      0       0  Canada  37411038.0   America
6727 2020-01-14   14      1  2020      0       0  Canada  37411038.0   America
6726 2020-01-15   15      1  2020      0       0  Canada  37411038.0   America
6725 2020-01-16   16      1  2020      0       0  Canada  37411038.0   America
6724 2020-01-17   17      1  2020      0       0  Canada  37411038.0   America
6723 2020-01-18   18      1  2020      0       0  Canada  37411038.0   America
6722 2020-01-19   19      1  2020      0       0  Canada  37411038.0   America

In [16]:
# GENERATE THE CUMULATIVE COUNTS
covid_cumulative = covid.groupby(['DateRep','Country']).sum().groupby('Country').cumsum()
covid_cumulative['Date'] = covid_cumulative.index.get_level_values(0)
covid_cumulative['Countries'] = covid_cumulative.index.get_level_values(1)
covid_cumulative.drop(columns=['Population', 'Day', 'Month', 'Year'], inplace = True)
covid_cumulative[covid_cumulative['Countries'] == 'Canada']

                     Cases  Deaths       Date Countries
DateRep    Country
2019-12-31 Canada        0       0 2019-12-31    Canada
2020-01-01 Canada        0       0 2020-01-01    Canada
2020-01-02 Canada        0       0 2020-01-02    Canada
2020-01-03 Canada        0       0 2020-01-03    Canada
2020-01-04 Canada        0       0 2020-01-04    Canada
...                    ...     ...        ...       ...
2020-08-23 Canada   124629    9071 2020-08-23    Canada
2020-08-24 Canada   124896    9073 2020-08-24    Canada
2020-08-25 Canada   125647    9083 2020-08-25    Canada
2020-08-26 Canada   125969    9090 2020-08-26    Canada
2020-08-27 Canada   126417    9094 2020-08-27    Canada

[241 rows x 4 columns]

In [5]:
# RE-JOIN TO GET COUNTRY'S POPULATIONS
covid_cumulative = covid_cumulative.merge(covid[['DateRep', 'Country', 'Population', 'Continent']], how='inner', left_index=True, right_on=['DateRep', 'Country']).set_index(['DateRep', 'Country'])
covid_cumulative

                           Cases  Deaths       Date       Countries  \
DateRep    Country
2019-12-31 Afghanistan         0       0 2019-12-31     Afghanistan
           Algeria             0       0 2019-12-31         Algeria
           Armenia             0       0 2019-12-31         Armenia
           Australia           0       0 2019-12-31       Australia
           Austria             0       0 2019-12-31         Austria
...                          ...     ...        ...             ...
2020-08-27 Vietnam          1034      30 2020-08-27         Vietnam
           Western_Sahara    766       1 2020-08-27  Western_Sahara
           Yemen            1930     560 2020-08-27           Yemen
           Zambia          11376     282 2020-08-27          Zambia
           Zimbabwe         6251     179 2020-08-27        Zimbabwe

                           Population Continent
DateRep    Country
2019-12-31 Afghanistan     38041757.0      Asia
           Algeria         43053054.0    Africa
           Armenia          2957728.0    Europe
           Australia       25203200.0   Oceania
           Austria          8858775.0    Europe
...                               ...       ...
2020-08-27 Vietnam         96462108.0      Asia
           Western_Sahara    582458.0    Africa
           Yemen           29161922.0      Asia
           Zambia          17861034.0    Africa
           Zimbabwe        14645473.0    Africa

[38911 rows x 6 columns]

In [6]:
covid_cumulative = covid_cumulative.reset_index().drop(columns=['DateRep', 'Country'])
covid_cumulative.to_excel('covid_a_master_cumulative_table.xlsx')

In [7]:
covid_cumulative

       Cases  Deaths       Date       Countries  Population Continent
0          0       0 2019-12-31     Afghanistan  38041757.0      Asia
1          0       0 2019-12-31         Algeria  43053054.0    Africa
2          0       0 2019-12-31         Armenia   2957728.0    Europe
3          0       0 2019-12-31       Australia  25203200.0   Oceania
4          0       0 2019-12-31         Austria   8858775.0    Europe
...      ...     ...        ...             ...         ...       ...
38906   1034      30 2020-08-27         Vietnam  96462108.0      Asia
38907    766       1 2020-08-27  Western_Sahara    582458.0    Africa
38908   1930     560 2020-08-27           Yemen  29161922.0      Asia
38909  11376     282 2020-08-27          Zambia  17861034.0    Africa
38910   6251     179 2020-08-27        Zimbabwe  14645473.0    Africa

[38911 rows x 6 columns]